@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Raleway:wght@300;700&display=swap");


body {
  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
  font-family: 'Italiana', serif;
}